---
---
@use "main";

/* .scss file */
$bgcolor: rgb(161, 238, 98);
$textcolor: rgb(0, 0, 0);
$fontsize: 20px;

/* Use the variabels */
body{
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}